body{
background-color: rgb(66, 3, 44);
  }

.container{
  margin: 100px;
  background-color: rgb(211, 107, 0);
  padding: 50px;
}

@font-face {
font-family: "AdineKirnberg-Script";
src: url("AdineKirnberg-Script.ttf");
  }

@font-face{
  font-family: "ChopinScript";
src: url("ChopinScript.ttf");
  }

@font-face{
  font-family: "ExtraOrnamentalNo2";
src: url("ExtraOrnamentalNo2.ttf");
  }

h1{
  font-family: "ExtraOrnamentalNo2";
  font-size: 1%;
}

a{
  font-family: "ChopinScript";
  text-decoration: none;
}


li a{
  font-family: "AdineKirnberg-Script";
  text-decoration: none;
}
