body{
background-color: rgb(85, 57, 57);
  }

.container{
  margin: 100px;
  background-color: rgb(112, 79, 79);
  padding: 50px;
}

@font-face {
font-family: "AdineKirnberg-Script";
src: url("AdineKirnberg-Script.ttf");
  }

@font-face{
  font-family: "ChopinScript";
src: url("ChopinScript.ttf");
  }

@font-face{
  font-family: "ExtraOrnamentalNo2";
src: url("ExtraOrnamentalNo2.ttf");
  }

h1{
  font-family: "ExtraOrnamentalNo2";
}

a{
  font-family: "ChopinScript";
  text-decoration: none;
}


